:root {
    --gliss-delay: 0s;
}

body{
    background-color: #0F0F0F;
    font-family: halyard-display, sans-serif;
    color: white;
    margin: 0 auto; 
    padding: 0 0 0 8vw;
    scroll-behavior: smooth;
}
div{
    outline: none;
}

.container {
    overflow-x: hidden;
}

#home span {
    font-size: 15vw;
    font-weight: 600;
}
#home .head-container > div {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
}

@keyframes gliss {
    0%, 100% { transform: translateY(0)}
    50% { transform: translateY(-30%)}
}
  
  .letter {
    display: inline-block;
    overflow-wrap: normal;
    animation: 1s ease-in-out var(--gliss-delay)  alternate gliss;
  }

#resume h1 {
    margin-top: 70px;
}
.resume-item {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 8vw;
}

.resume-item-heading {
    margin: 0;
}
.resume-item-subheading {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-top:5px;
}
.resume-item-heading-des {
    font-weight: 400;
}

@media (min-width: 728px) {
    body {
        margin-right: 71px;
    }
    nav{
        color: #CBCBCB;
        border-left: 1px solid #CBCBCB;
        height: 100vh;
        position: fixed;
        right: 0;
        margin: 0;
        padding: 0;
        z-index: 1;
    }
    nav ul li a{
        text-decoration: none; 
        color: #CBCBCB;
    }
    nav ul{
        text-decoration: none; 
        list-style: none;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    
        padding-left: 10px;
        padding-right: 5px;
    
        position: relative;
        bottom: 0;
        top: 30vh;
        
    }
    nav ul li{
        display: inline;
    
        font-size: 18px;
        padding-top: 3vh;
        padding-bottom: 3vh;
    
        cursor: pointer;
    }
    
    nav ul li a:hover{
        color: white;
        transition: 0.3s;
    }
    
    #home{
        height: 100vh;  
        position: relative;
        z-index: 0;
    }
    #home p{
        color:#B5B5B5;
        font-size: 18px;
        padding-top: 10vh;
        margin: 0;
    }

    
    #about{
        height: 70vh;
    }
    #about p{
        font-size: 23px;
        max-width: 37vw;
        width: 100%;
        margin: 50% auto;
    }

    .resume-item {
        display: grid;
        grid-template-columns: 300px 1fr;
     }
    
    
    #contact{
        height: 100vh;
    }
    #contact ul{
        text-decoration: none; 
        list-style: none;
    
        font-size: 150px;
        font-weight: 600;
    }
    #contact ul li a{
        text-decoration: none;
        position: relative;
        color: white;
    }
    
    #contact ul li a:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 10px solid white;
        transition: 0.6s;
    }
    #contact ul li a:hover:after{
        width: 100%;
    }
    #contact p{
        padding-left: 40px;
    }
    #descriptionDarkGray{
        color: #727272;
    }
    #descriptionLightGray{
        color: #D6D6D6;
    }
}

@media (max-width: 727px) {
    body{
        margin-left: 8vw;
        padding: 0;
    }
    nav{
        display: none;
        width: 0;
    }
    
    #home{
        height: 80vh;  
        position: relative;
        z-index: 0;
    }
    #home p{
        color:#B5B5B5;
        font-size: 18px;
        padding-top: 10vh;
        margin: 0;
    }
    
    #about{
        height: 50vh;
    }
    #about p{
        font-size: 18px;
        width: 85%;
        margin-top: 80%;
    }
    
    
    #resume{
        height: auto;
        margin: 0 auto;
    }
    #resume img{
        margin: 0 auto;
        width: 80vw;
    }
    
    
    #contact{
        height:auto;
    }
    #contact ul{
        text-decoration: none; 
        list-style: none;
    
        font-size: 80px;
        font-weight: 600;
        padding: 0;
    }
    #contact ul li a{
        text-decoration: none;
        position: relative;
        color: white;
    }
    
    #descriptionDarkGray{
        color: #727272;
    }
    #descriptionLightGray{
        color: #D6D6D6;
    }    
}